.features{
  margin-top: 20px;
}
.features-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.features-item {
  background-color: var(--container-color);
  padding: 2rem;
  margin-right: 15px;
  border-radius: var(--radius);
  position: relative;
  transition: 0.5s var(--transition);
}

.features-item::before {
  content: "";
  position: absolute;
  inset: 0.7rem;
  border: 2px solid var(--first-color);
  opacity: 0.4;
  border-radius: inherit;
}

.feature-img {
  width: 60px;
  margin-bottom: 1.2rem;
}

.feature-title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.6rem;
}

.feature-shape {
  position: absolute;
  width: 120px;
  right: 1.2rem;
  top: 3rem;
  opacity: 0.2;
}

.features-item:hover {
  transform: translateY(-0.5rem);
}

@media screen and (max-width: 960px) {
  .features-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 1.5rem;
    margin-left: 10px;
  }
}

@media screen and (max-width: 576px) {
  .features-grid {
    grid-template-columns: 1fr;
    margin-left: 0;
  }
}
