.gallery{
  margin-top: 20px;
}
.gallery-grid {
  grid-template-columns: repeat(3, 1fr);
}

.gallery-item {
  position: relative;
}

.gallery-item::before {
  content: "";
  position: absolute;
  inset: 0.5rem;
  background-color: var(--container-color);
  border-radius: var(--radius);
  transform: scaleY(0);
  opacity: 0;
  transition: 0.5s var(--transition);
}

.gallery-img,
.gallery-title {
  border-radius: var(--radius);
}

.gallery-icon,
.gallery-title {
  position: absolute;
  font-size: var(--largest-font-size);
  opacity: 0;
}

.gallery-icon {
  top: 50%;
  left: 50%;
  margin-top: 3rem;
  transform: translate(-50%, -50%);
  background-color: var(--title-color);
  color: var(--first-color);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: grid;
  place-items: center;
  transition: 0.4s var(--transition);
  transition-delay: 0.4s;
}

.gallery-title {
  bottom: 0;
  inset-inline: 1.5rem;
  background-color: black;
  text-align: center;
  padding-block: 1.2rem;
  transition: 0.5s var(--transition);
}

.gallery-item:hover::before {
  opacity: 0.7;
  transform: scaleY(1);
}

.gallery-item:hover .gallery-icon,
.gallery-item:hover .gallery-title {
  opacity: 1;
}
.gallery-item:hover .gallery-icon {
  margin-top: 0;
}

.gallery-item:hover .gallery-title {
  bottom: 1.5rem;
}

@media screen and (max-width: 992px) {
  .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 576px) {
  .gallery-grid {
    grid-template-columns: 1fr;
  }
}
