.review{
  margin-top: 20px;
}
.review-grid {
  grid-template-columns: repeat(4, 1fr);
}

.review-quote {
  background-color: var(--container-color);
  padding: 2.5rem 2rem 3rem;
  border-radius: var(--radius);
  margin-bottom: 2rem;
  position: relative;
}
.review-icon {
  position: absolute;
  bottom: -1.5rem;
  left: 2.5rem;
  color: var(--container-color);
  font-size: var(--big-font-size);
}

.review-content {
  display: flex;
  align-items: center;
  margin-bottom: 1.2rem;
}

.review-img {
  height: 200px;
  border-radius: 100%;
}

.review-title {
  font-size: var(--larger-font-size);
}

.review-rating {
  display: flex;
  column-gap: 0.2rem;
  color: var(--first-color);
  margin-top: 0.2rem;
}

@media screen and (max-width: 992px) {
  #reviews {
    text-align: center;
  }

  .review-grid {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 3rem;
  }

  .review-icon {
    bottom: -1.2rem;
  }
}

@media screen and (max-width: 576px) {
  .review-grid {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }
}
